[submodule "aurae"]
	path = aurae
	url = git@github.com:aurae-runtime/aurae
	branch = main
[submodule "auraed"]
	path = auraed
	url = git@github.com:aurae-runtime/auraed
	branch = main
[submodule "api"]
	path = api
	url = git@github.com:aurae-runtime/api.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:aurae-runtime/scripts.git
