[submodule "auraed"]
	path = auraed
	url = git@github.com:aurae-runtime/auraed
	branch = main
[submodule "authx"]
	path = authx
	url = git@github.com:aurae-runtime/authx.git
[submodule "auraectl"]
	path = auraectl
	url = git@github.com:wesen/auraectl
[submodule "auraescript"]
	path = auraescript
	url = git@github.com:aurae-runtime/auraescript.git
